* { 
    margin:0;
    padding:0;
    font-family:"微软雅黑",verdana,tahoma,helvetica;
}
html, body {
     border: 0 none;
     }
html { 
    height: 100%;
 }
body{
    font-family:"微软雅黑",verdana,tahoma,helvetica;
    font-size: 12px;
    font-stretch: normal;
    font-variant: normal;
    height: 100%;
}
.download{
    background:url(back.png) no-repeat;
    height:245px;
    margin-left:30%;
    background-size:contain;
}
.bsize{
    font-size:30px;
    color:#fff;
    text-align:center;
    padding-top:30px;}
.size{
    margin: 10px;
    font-size: 15px;
    color:#fff;
    text-align:center;
    margin-bottom:20px;
}
.download-button{
    width:100%;
    height:336px;
    background:#fff;
}
.downtop{
    background:darkorange;
    width:100%;
}
.desction{
    margin: 15px;
    font-family:"微软雅黑",verdana,tahoma,helvetica;
}
.db{
    text-align: center;
    width:300px;
    height:45px;
    line-height:45px;
    margin:0 auto;
    margin-top:23px;
    cursor:pointer;
    display:block;
    border: 1px solid darkorange;
    color: darkorange;
}
.iphone{
    background-position:0 -64px;
}
.iphone-online{
    background-position:0 -128px;
}

.db1{
    text-align: center;
    width:300px;
    height:45px;
    line-height:45px;
    margin:0 auto;
    margin-top:23px;
    cursor:pointer;
    display:block;
    border: 1px solid darkorange;
    color: darkorange;

}

